.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.so
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.idea/
.vscode/
*.sublime-workspace
*.egg-info/
dist/
build/
*.egg
**/node_modules/
data/skins_cache.db 